.menu-container {
  position: sticky;
  bottom: 0;
  max-width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  .menu-option {
    &--left {
      border-radius: 5px 0 0 0;
    }
    &--right {
      border-radius: 0 5px 0 0;
    }
    width: 140px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $primary-purple;
    text-align: center;
    p {
      color: $just-white;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 2.5rem;
      text-transform: uppercase;
    }
    &--icon {
      height: 18px;
      width: 18px;
      margin-left: 5px;
    }
  }
}
@media (min-width: 520px) {
  .menu-container {
    position: inherit;
    .menu-option {
      &--left {
        position: absolute;
        top: 0;
        right: 40px;
        border-radius: 0 0 5px 0;
      }
      &--right {
        position: absolute;
        right: 180px;
        top: 0;
        border-radius: 0 0 0 5px;
      }
    }
  }
}
