.card-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .card-img {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    padding: 5px 10px;
    img {
      width: 110px;
      height: 110px;
      border-radius: 150px;
      object-fit: cover;
    }
  }
  .card-content {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px 10px;
    border-radius: 0 0 20px 20px;
    &--name {
      min-height: 25px;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
    }
    &--birth,
    &--gender,
    &--eye,
    &--hair {
      display: none;
    }
    &--conditions {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5px;
        color: $text-grey;
      }
      &--icon {
        border: none;
        background-color: transparent;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media (min-width: 520px) {
  .card-container {
    flex-direction: row;
    width: 45%;
    .card-img {
      width: 40%;
      height: 200px;
      border-radius: 20px 0 0 20px;
      img {
        width: 140px;
        height: 140px;
      }
    }
    .card-content {
      width: 60%;
      height: 200px;
      border-radius: 0 20px 20px 0;
      flex-direction: column;
      justify-content: center;
      &--name {
        font-size: 2.6rem;
      }
      &--birth,
      &--gender,
      &--eye,
      &--hair {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.9rem;
        span {
          font-weight: 400;
        }
      }
    }
  }
}
