.header-container {
  width: 100vw;
  height: 160px;
  max-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header-logo {
    height: 100px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 180px;
      object-fit: contain;
    }
  }
  .header-filter p {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: $just-white;
  }
}
