.header-container {
  width: 100vw;
  height: 160px;
  max-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .header-logo {
    display: flex;
    justify-content: center;
    img {
      width: 180px;
      align-self: center;
      object-fit: contain;
    }
  }
  .header-filter p {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: $just-white;
  }
}
@media (min-width: 768px) {
  .header-container {
    margin-top: 60px;
    .header-logo {
      img {
        width: 220px;
        align-self: center;
      }
    }
    .header-filter p {
      font-size: 3.6rem;
      margin-top: 10px;
    }
  }
}
