@import "./index.scss";
root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body {
  background-color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  body {
    position: absolute;
    top: 0;
    background-image: url("https://res.cloudinary.com/dz5tntwl1/image/upload/v1661318587/proyectos-work/Background_ust9tc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 1280px;
  }
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}
.error-message {
  color: rgb(255, 72, 72);
  font-size: 1.1rem;
  line-height: 1.8rem;
}
