@import "./index.scss";
root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body {
  background-color: #000000;
  margin: 0;
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}
